Repository Catappult/appcoins-wallet-android, pull requests merged in 2023-08, with the labels that each got.

#659 New Strings - Verify Payment Method
  app/src/main/java/com/asfoundation/wallet/ui/iab/IabActivity.kt
  ui/common/src/main/res/values/strings.xml
Labels: Strings

#687 [Fix] Fix rate wallet crash and landscape layout
  app/src/main/AndroidManifest.xml
  app/src/main/res/layout/fragment_rating_entry.xml
Labels: Bug

#655 Feature/eskl 334 eskills carousel
  app/src/main/java/com/asfoundation/wallet/home/usecases/GetGameDetailsUseCase.kt
  app/src/main/java/com/asfoundation/wallet/repository/GamesRepository.kt
  app/src/main/java/com/asfoundation/wallet/repository/GamesRepositoryType.kt
  app/src/main/java/com/asfoundation/wallet/viewmodel/AppDetailsViewModel.kt
  app/src/main/java/com/asfoundation/wallet/wallet/home/HomeFragment.kt
  app/src/main/java/com/asfoundation/wallet/wallet/home/HomeViewModel.kt
  app/src/main/java/com/asfoundation/wallet/wallet/home/app_view/AppViewFragment.kt
  core/network/backend/src/main/java/com/appcoins/wallet/core/network/backend/BackendApiModule.kt
  core/network/backend/src/main/java/com/appcoins/wallet/core/network/backend/annotations/BackendRetrofit.kt
  core/network/backend/src/main/java/com/appcoins/wallet/core/network/backend/api/GamesApi.kt
  core/network/backend/src/main/java/com/appcoins/wallet/core/network/backend/model/GamesListingResponseItem.kt
  core/network/eskills/src/main/java/com/appcoins/wallet/core/network/eskills/EskillsApiModule.kt
  core/network/eskills/src/main/java/com/appcoins/wallet/core/network/eskills/annotations/EskillsRetrofit.kt
  core/network/eskills/src/main/java/com/appcoins/wallet/core/network/eskills/api/AppDataApi.kt
  core/network/eskills/src/main/java/com/appcoins/wallet/core/network/eskills/api/EskillsGamesApi.kt
  core/network/eskills/src/main/java/com/appcoins/wallet/core/network/eskills/model/AppData.kt
  core/network/eskills/src/main/java/com/appcoins/wallet/core/network/eskills/model/GamesListingResponseItem.kt
  core/utils/properties/src/main/java/com/appcoins/wallet/core/utils/properties/HostProperties.kt
  ui/common/src/main/java/com/appcoins/wallet/ui/common/theme/WalletColors.kt
  ui/common/src/main/res/drawable/arrow.xml
  ui/common/src/main/res/drawable/default_background_carousel.xml
  ui/common/src/main/res/drawable/downloads.xml
  ui/common/src/main/res/drawable/eskills_cup.xml
  ui/common/src/main/res/drawable/pie_chart.xml
  ui/common/src/main/res/drawable/rating_star.xml
  ui/widgets/src/aptoide/java/com/appcoins/wallet/ui/widgets/GameDetailsComposable.kt
  ui/widgets/src/aptoide/java/com/appcoins/wallet/ui/widgets/GamesBundleComposable.kt
  ui/widgets/src/gp/java/com/appcoins/wallet/ui/widgets/GameDetailsComposable.kt
  ui/widgets/src/gp/java/com/appcoins/wallet/ui/widgets/GamesBundleComposable.kt
Labels: E-Skills
